/***************************{CSS Common}*****************************/
@import 'reset.scss';

html, body {
    width: 100%;
    height: 100%;
    font-family: "Microsoft YaHei";
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
